.logo{
	width: 270px;
	padding-left: 50px;
}

.header{
	padding-top: 30px;
}

.school{
	margin-top: 10px;
	text-align: right;
	padding-right: 50px;
	color: #B72321;
	font-weight: bold;
}

body{
    font-size: 16px;
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0.8);
}
.navbar-default li:hover{
    background-color: rgba(249, 249, 249, 0.85);
}

table{
    background-color: rgb(237, 245, 248);
    margin-top: 15px;
}

table thead{
    background-color: rgb(216, 218, 229);
}

table thead tr th{
    text-align: center;
    vertical-align: middle !important;
}

table tbody tr td{
    text-align: center;
    vertical-align: middle !important;
    padding: 10px  !important;
}

td input{
    text-align: center;
}


/*CONF CSS plugin*/

td .btn{
    margin:5px;
}

td.changed_value{
    color: #3c763d;
    font-weight: 600;
}

/*CONF CSS FIN*/

