body {
 	background-color:#c5efff;
}

.titre{
	font-size: 24px;
 	font-family: Geneva, Arial, Helvetica, san-serif;
 	font-weight: bold;
 	color: #000090;
 	text-align:center;
}

.texte {
	font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #000090;
}

.monLabel {
	font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;  
	color: #000090;
}

form{
	text-align: center;
}

.body{
	margin-top: 80px;
}

.header{
	margin-top: 60px;
}

.header .titre img{
	margin-bottom:10px;
}

.button {
	color: white;
	background-color: #666699;
	border-bottom: thin solid #222244;
	border-right:  thin solid #222244;
	border-top: thin solid #9999cc;
	border-left: thin solid #9999cc;
	font-size: 11px;
	font-family: Geneva,Helvetica,sans-serif;
	font-weight: normal;
	cursor: pointer;
}